$color-body-gradient: linear-gradient(to right, #e66465, #9198e5);
$color-error-formulario: red;
$color-true-formulario: green;
$color-border: gray;
$color-titulo: #2ca9e3;
$color-input: #BBA9BB;
$color-button-enviar: #6DC36D;
$color-button-reset: #23BAC4;